<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <input type="text" placeholder="请输入" id="txt">
    <button value="刷新" onclick="tagChange()"></button>
</div>

<script>
    {#握手socket#}
    socket = new WebSocket("wss://summer.super2021.com/wss/{{ page_id }}/");
    {#socket = new WebSocket("ws://127.0.0.1:8000/wss/{{ page_id }}/");#}
    {#获取对应文本框#}
    let tag = document.getElementById("txt");
    let page_dict;
    socket.onmessage = function (event) {
        console.log(event.data);
        page_dict = event.data;
        let page_name = JSON.parse(page_dict)['page_name'];
        console.log(page_name);
    }

    tagChange = function () {
        page_dict = {"page_height":240,"page_width":120,"page_name":"测试","page_id":240,"element_list":"xxx","project_id":122,"num":4}

        socket.send(JSON.stringify(page_dict));
    }

    {#设置同步#}
{#    let mutex = 0;#}
    {#当每半秒写完时，接收发送信息#}
{#    socket.onmessage = function (event) {#}
{#        if(mutex === 0) {#}
{#            tag.value = event.data;#}
{#        }#}
{#    }#}
    {#当文本框更新时，禁止其他客户端接收信息，向服务端发送更新信息，延时覆盖#}
{#    tagChange = function () {#}
{#        if(mutex === 0) {#}
{#            mutex = 1;#}
{#            setTimeout(function (){#}
{#                socket.send(tag.value)#}
                {#覆盖完成后恢复#}
{#                mutex = 0;#}
{#            }, 200);#}
{#        }#}
{#    };#}
</script>

</body>
</html>