<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <input type="text" placeholder="请输入" id="txt" oninput="tagChange()">
</div>

<script>
    {#握手socket#}
    socket = new WebSocket("ws://summer.super2021.com/websocket/{{ document_id }}/");
    {#获取对应文本框#}
    let tag = document.getElementById("txt");
    {#设置同步#}
    let mutex = 0;
    {#当每半秒写完时，接收发送信息#}
    socket.onmessage = function (event) {
        if(mutex === 0) {
            tag.value = event.data;
        }
    }
    {#当文本框更新时，禁止其他客户端接收信息，向服务端发送更新信息，延时覆盖#}
    tagChange = function () {
        if(mutex === 0) {
            mutex = 1;
            setTimeout(function (){
                socket.send(tag.value)
                {#覆盖完成后恢复#}
                mutex = 0;
            }, 200);
        }
    };
</script>

</body>
</html>