<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <input type="text" placeholder="请输入" id="txt" oninput="tagChange()">
</div>

<script>
    socket = new WebSocket("ws://127.0.0.1:8000/document/{{ document_id }}/");
    let tag = document.getElementById("txt");
    let mutex = 0;
    socket.onmessage = function (event) {
        if(mutex === 0) {
            tag.value = event.data;
        }
    }
    tagChange = function () {
        if(mutex === 0) {
            mutex = 1;
            setTimeout(function (){
                socket.send(tag.value)
                mutex = 0;
            }, 500);
        }
    };
</script>

</body>
</html>